.root {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  &.open{
    display: block;
  }
  .box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 300px;
    width: 300px;
    background-color: white;
  }

  .button {
    border-radius: 5px;
    border: none;
  }
}
