$grey-background: #dcdcdc;
$white: #fefefe;
.root {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
  .col {
    padding: 5px;
    width: 100%;
    margin: 0 5px;
  }
  .list{
    border-radius: 5px;
    min-height: 200px;
    background-color: $grey-background;
    padding: 5px;
  }
  .draggableItem{
    padding: 3px 10px;
    border-radius: 5px;
    background-color: $white;
    margin-top: 5px;
  }
  .title{
    word-break: break-all;
    border-radius: 5px;
    background-color: $grey-background;
    h3{
      padding: 10px 5px;
    }
  }
}
